
Assignment 3 

- The data file titanic.csv contains a fraction of the Titanic passenger list, but some values are erroneous.

- What could be the validation criteria for each column? In other words, how the data in each column should be. 
- Note that all the columns don't have very strong validation criteria and sometimes you have to investigate the data before defining the criteria. 
- Investigate the data quality using Python Pandas Profiler
- Describe the possible errors you found in each column and how you could fix them (if possible, no need to fix them)
Return a pdf-file

In [1]:
import pandas as pd
df=pd.read_csv('titanic.csv')

In [2]:
#simple analyse using pandaas
df.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,888.000000,886.000000,886.000000,889.000000,884.000000,885.000000
mean,0.397523,2.362302,29.447144,0.525309,0.394796,210.290046
std,0.591822,1.489967,14.137959,1.103680,1.207384,5126.766054
min,-1.000000,0.000000,0.000000,0.000000,-20.000000,-20.525000
25%,0.000000,2.000000,20.000000,0.000000,0.000000,7.895800
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,10.000000,33.000000,80.000000,8.000000,13.000000,152458.000000

In [3]:
print('Number of missing data in columns : \n', df.isnull().sum())

Number of missing data in columns :
 Survived                   1
Pclass                     3
Name                       1
Sex                        3
Age                        3
Siblings/Spouses Aboard    0
Parents/Children Aboard    5
Fare                       4
dtype: int64

In [4]:
from ydata_profiling import ProfileReport
profile=ProfileReport(df)
profile.to_file('./titanic_profile.html')

c:\Users\Inosha\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Summarize dataset:  67%|██████▋   | 10/15 [00:00<00:00,  9.92it/s, Calculate auto correlation]              c:\Users\Inosha\AppData\Local\Programs\Python\Python311\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'Function <code object pandas_auto_compute at 0x000002A6CB742D80, file "c:\Users\Inosha\AppData\Local\Programs\Python\Python311\Lib\site-packages\ydata_profiling\model\pandas\correlations_pandas.py", line 167>')
  warnings.warn(
Summarize dataset: 100%|██████████| 43/43 [00:03<00:00, 12.10it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.39s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.53s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 70.37it/s]